body { background: #a83f88; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 19px; display: flex; }
.block-sms-0 { color: #d368bb; font-size: 15px; margin-bottom: 5px; }
.block-cluster-1 { color: #caad13; font-size: 21px; margin-bottom: 5px; }
.block-cart-2 { color: #9b658e; font-size: 20px; margin-bottom: 5px; }
.block-notify-3 { color: #adfe64; font-size: 16px; margin-bottom: 5px; }
.block-notify-4 { color: #a7119f; font-size: 15px; margin-bottom: 5px; }
.block-session-5 { color: #d63e2b; font-size: 15px; margin-bottom: 5px; }
.block-payment-6 { color: #f64926; font-size: 20px; margin-bottom: 5px; }
.block-cluster-7 { color: #a6c31b; font-size: 15px; margin-bottom: 5px; }